{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Catatan</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Catatan Kegiatan</li>
                </ol>
                <div class="row">
                  <div class="col-md-10">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <form action="" method="post" class="mt-3" enctype="multipart/form-data">
                                    {% load crispy_forms_tags %}
                                    {% csrf_token %}
                                    {{ form_catatan|crispy }}
                                    {{ form_gambar|crispy }}
                                    <button class="btn btn-primary" type="submit" >Save</button>
                                </form>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
            </div>     
        </main>
    </div>
      
   {% endblock %}

   {% block script %}
   <script src="{% static 'countable_field/js/scripts.js' %}"></script>
   {% endblock %}
</body>
</html>