{% extends "base.html" %}

{% block content %}
<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid">
          <h1 class="mt-4">data Mahasiswa</h1>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Update Data Pendaftaran PKL</li>
          </ol>
          <div class="row">
            <div class="col-md-10">
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <form action="" method="POST" class="mt-3">
                          {% csrf_token %}
                          <div class="form-group">
                            Judul Proposal :<input type="text" name="judul" value="{{data.judul}}" class="form-control mt-2"><br>
                            Nama Mitra :<input type="text" name="nama" value="{{data.nama_mitra}}" class="form-control mt-2" readonly><br>
                            Dosen Pembimbing Lapangan :<input type="text" name="dosen" value="{{data.dosen}}" class="form-control mt-2"><br>
                            Tanggal Mulai :<input type="date" name="tanggal_mulai" value="{{data.tanggal_mulai}}" class="form-control mt-2"><br>
                            Tanggal Selesai :<input type="date" name="tanggal_selesai" value="{{data.tanggal_selesai}}" class="form-control mt-2"><br>
                            <input type="submit" class="btn btn-primary mt-2">
                          </div>
                        </form>
                      </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </main>
</div>
{% endblock %}

{% block script %}
  {{ views.media }}
{% endblock %}